/* import */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kanit", sans-serif;
    overflow-x: hidden;
}

:root {
    --main-col-1: #F16322;
    --main-col-2: #F12222;
    --main-col-3: #ffc400;
    --main-col-4: #ffbb4c;
    --gray-col: #9d9598;
    --white-col: #FFF;
    --bl-col: #000;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.top_header {
    height: 100vh;
    background: linear-gradient(90deg, var(--main-col-1), var(--main-col-2), var(--main-col-1));
    background-size: 200% auto;
    animation: n-scroll 3s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_header img {
    width: 90%;
}

header {
    background: var(--main-col-4);
    height: 70px;
    position: absolute;
    width: 100%;
    top: calc(100vh);
    z-index: 999;
}

.hd_nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hd_logo {
    display: flex;
    align-items: center;
    width: 100px;
}

.hd_logo img {
    max-width: 100%;
}

.hd_list>ul {
    display: flex;
}

.hd_list>ul>li {
    padding: 0 10px;
}

.hd_list>ul li {
    list-style: none;
}

.menu.has-submenu ul {
    display: none;
}

.menu.has-submenu.open ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(70px);
    background: var(--main-col-4);
    padding: 10px;
}

.menu.has-submenu.open ul li {
    padding: 5px;
}

.menu.has-submenu.open ul li:not(:last-child) {
    border-bottom: 1px solid var(--white-col);
}

li.menu a {
    text-decoration: none;
    color: var(--white-col);
}

.hd_icon {
    display: none;
}

.site-toggle {
    height: 50px;
    width: 56px;
    font-size: 10px;
    padding: 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.site-toggle b {
    display: block;
    height: 2px;
    background-color: var(--white-col);
    /* fallback สีดำถ้าไม่มีตัวแปร */
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* เมื่อคลาส active ถูกเพิ่ม */
.site-toggle.active b:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.site-toggle.active b:nth-child(2) {
    opacity: 0;
}

.site-toggle.active b:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

header a.active {
    font-weight: 600;
}

.banner {
    margin-top: 70px;
    height: calc(100vh - 70px);
    background: linear-gradient(300deg, var(--main-col-2), var(--main-col-4));
}

.banner .container {
    height: 100%;
}

.banner-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--white-col);
}

.banner-inner h3 {
    max-width: 688px;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}

.bg-extra {
    background: linear-gradient(135deg, #000084, #610084);
}

.marquee {
    padding: 20px 0;
    width: min-content;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

.marquee img {
    padding: 0 60px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.naphat-now {
    background: linear-gradient(90deg, var(--main-col-1), var(--main-col-4));
}

.flexes {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.flexes .naphat-image {
    width: 30%;
}

.flexes .naphat-image img {
    height: 95%;
    /* transform: translateX(-50px)!important; */
    animation: move-img 10s linear infinite;
}

.naphat-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
    padding: 0 10px;
    color: var(--white-col);
}

.naphat-text h4 {text-indent: 2em;}

.naphat-text > * {
    font-weight: 500;
}

.time-line-edu {
    background: var(--main-col-3);
}

.time-linebox {
    display: flex;
    justify-content: center;
}

.subbox {
    height: 360px;
    background: #FFFFFF50;
    transition: .5s background;
    cursor: pointer;
    border-radius: 10px;
}

.subbox.none {
    background: transparent;
}

.subbox:not(.none):hover {
    background: var(--main-col-1);
}

/* .subbox:not(.none):hover > * {
    color: var(--bl-col);
} */

.right-box-timeline,
.left-box-timeline {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px 0;
}

.left-box-timeline {
    
}

.line {
    margin: 20px;
    width: 2px;
    background: var(--white-col);
}

.right-box-timeline {
    
}

.right-box-timeline img,
.left-box-timeline img {
    border-radius: 50%;
    width: 150px;
    padding: 20px;
}

.textbox {
    padding: 0 20px;
    color: var(--white-col);
    padding: 0 10px 10px 10px;
}

/* media */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 600px) {
    .hd_icon {
        display: block;
    }

    .hd_list {
        display: none;
    }

    .hd_list.toggle {
        display: flex;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: calc(70px);
        left: 0;
        height: calc(100vh - 70px);
        background: var(--main-col-1);
    }

    .hd_list.toggle > ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .hd_list.toggle > ul > li {
        padding: 20px 0;
    }

    .hd_list.toggle > ul > li:not(:last-child) {
        border-bottom: 1px solid var(--white-col);
    }

    .hd_list.toggle > ul > li.has-submenu.open ul {
        position: unset;
        background: #FFFFFF50;
        margin-top: 10px;
        padding: 0;
    }

    /* .hd_list.toggle > ul > li.has-submenu.open li {} */


    .flexes {
        flex-direction: column;
        height: 100%;
    }

    .naphat-image, .naphat-text {
        width: 100% !important;
    }

    .naphat-image {
        display: flex;
        justify-content: center;
    }

    .naphat-image img {
        height: 20% !important;
    }
}

/* keyframes */

@keyframes n-scroll {
    100% {
        background-position: 200%;
    }
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to   { transform: translateX(-100%); }
}

@keyframes move-img {
    0%   { transform: translateY(10px); }
    50%   { transform: translateY(-10px); }
    100%   { transform: translateY(10px); }
}
